body {
	font-family: 'Roboto', sans-serif;
}


header {
	border-right: 1px solid;
	padding-right: 10px;
}

#literary {
	border: 2px solid #000;
	overflow: hidden;
}

header {
	float: left;
	height: 800px;
}

header ul li {
	list-style: none;
	margin: 10px;
}

header ul li a {
	text-decoration: none;
	padding: 10px;
}

.sadrzaj {
	overflow: hidden;
	padding-left: 10px;
}